/*Inicio de alterações da Tela de Login*/
.box-form {
    margin-top: 7rem;
    width: 500px;
    height: 650px;
    border: 1px solid #cccccc;
    border-top: 20px solid red;
}
.form-login{
    width: 450px;
    height: 400px;;
}
.btn-login {
    color: white;
    background-color: red;
    padding: 10px 60px 10px 60px;
    margin-top: 1rem;
    margin-left: 8rem;
    border-radius: 25px;
    border-color: red;
}
.btn-login:hover {
    color: red;
    background-color: white;
    transition-delay: .0.5s;
    border-color: red;
}
.icon-login{
    padding: 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
.input-icon{
    border-left: 0px;
}

.invalid-user{
    color: red;
    font-size: 18px;
}
.form-control{
    padding: 22px;
}
.form-control:focus{
    box-shadow: none;
    border-color: #ccc;
}
/*Fim das alterações da Tela de Login*/

/*Inicio da costumização da pagina inicial*/
.navbar-customize{
    background-color: #e5e5e5!important;
}
.user-dropdown{
    display: block;
    margin-right: 3rem;
}
.icon-usuario{
    margin-right: 1rem;
}
